<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%=o.htmlWebpackPlugin.options.title%}</title>
    {% if (o.htmlWebpackPlugin.files.favicon) { %}
    <link rel="shortcut icon" href="{%=o.htmlWebpackPlugin.files.favicon%}">
    {% } %}
    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
    {% } %}
</head>
<body ms-controller="app" ms-on-click="clickBodyHandler" ms-on-mousemove="mousemoveHandler">
    <header ms-view="@hd" class="affix"></header>
    <div ms-view="@container" class="bd"></div>
    <footer ms-view="@ft"></footer>



    <div class="j-notice animated" ms-class-fadein="stay > 0" ms-class-fadeout="stay < 1" ms-visible="stay > 0">
        <div class="container" id="j_notice">
        </div>
    </div>



    <div ms-widget="progressbar,$progress,$progressOpts"></div>
    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    <script type="text/javascript" src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry%}"></script>
    {% } %}
</body>
</html>